Repository solidusio/solidus_paypal_commerce_platform, pull requests merged in 2020-06, with the labels that each got.

#40 Add CI & Coverage badges to the readme
  README.md
Labels: documentation

#41 Add a basic codecov config to show commit status
  codecov.yml
Labels: chore

#42 Add ability to change address on PayPal
  app/assets/javascripts/spree/frontend/solidus_paypal_commerce_platform.js
  app/assets/javascripts/spree/frontend/solidus_paypal_commerce_platform/button_actions.js
  app/assets/javascripts/spree/frontend/solidus_paypal_commerce_platform/buttons.js
  app/controllers/solidus_paypal_commerce_platform/orders_controller.rb
  app/controllers/solidus_paypal_commerce_platform/shipping_rates_controller.rb
  app/models/solidus_paypal_commerce_platform/order_simulator.rb
  app/models/solidus_paypal_commerce_platform/paypal_address.rb
  app/models/solidus_paypal_commerce_platform/paypal_order.rb
  config/routes.rb
  spec/models/order_simulator_spec.rb
  spec/models/paypal_address_spec.rb
Labels: chore, paypal checkout

#39 Rely on sdk request classes
  README.md
  app/controllers/solidus_paypal_commerce_platform/payments_controller.rb
  app/controllers/solidus_paypal_commerce_platform/wizard_controller.rb
  app/models/solidus_paypal_commerce_platform/gateway.rb
  app/models/solidus_paypal_commerce_platform/payment_method.rb
  app/models/solidus_paypal_commerce_platform/payment_source.rb
  app/models/solidus_paypal_commerce_platform/response.rb
  app/models/solidus_paypal_commerce_platform/wizard.rb
  app/views/solidus_paypal_commerce_platform/admin/payment_methods/_paypal_wizard.html.erb
  config/locales/en.yml
  lib/solidus_paypal_commerce_platform.rb
  lib/solidus_paypal_commerce_platform/access_token_authorization_request.rb
  lib/solidus_paypal_commerce_platform/client.rb
  lib/solidus_paypal_commerce_platform/environment.rb
  lib/solidus_paypal_commerce_platform/fetch_merchant_credentials_request.rb
  spec/features/backend/new_payment_method_spec.rb
  spec/features/frontend/checkout_spec.rb
  spec/lib/client_spec.rb
  spec/models/payment_method_spec.rb
  spec/models/payment_source_spec.rb
  spec/requests/solidus_paypal_commerce_platform/wizard_controller_spec.rb
Labels: chore, paypal checkout, paypal onboarding
